<div class='search-box-wrapper'>
  <div class='search-box'>
    <div id='inputfield'>
      <i class='fa fa-search icon-search'></i>
      <input autocomplete='off' autocorrect='off' placeholder='Cherche pas, trouve !' spellcheck='false' type='text'>
    </div>
  </div>
</div>

<section class='panel'>
  <div class='panel-body'>
    <div class='text-right p-3' id='stats'></div>
    <div id='facets'></div>
    <div id='hits'></div>
  </div>
</section>

<main>
    <div id="hits"></div>
    <div id="pagination"></div>
</main>


