
<h1 class="text-center">
    <%=    @contact.company %>
</h1>
<h3 class="text-center">
   assumé par  <%=    @gossip.anonymous_author %>
</h3>
</br>

<p class="text-center">
    
    <%= link_to "Retour à l'accueil", root_path, class:"btn btn-success" %> 
    
</p>